<div class="jumbotron ">
    <div class="card">
        <div class="item item-divider">

        </div>
        <div class="item item-text-wrap fuente">

                <p>Información de la empresa</p><br><br><br>
                <div class="provincia">

                    <label class="blanco">Provincia:</label>
                    <select
                            data-ng-model="general.provincia"
                            data-ng-options="item as item.nombre for item in Provincias">

                    </select>
                    <!--<input type="text" class="color" data-ng-model="provincia">-->

                </div>
                <div class="ministerio">

                    <label class="blanco">Ministerio:</label>
                    <select
                            data-ng-model="general.ministerio"
                            data-ng-options="item as item.nombre for item in Ministerio">

                    </select>
                </div>

                <div class="osde">
                    <label class="blanco">OSDE: </label>
                    <select
                            data-ng-model="general.osde"
                            data-ng-options="item as item.nombre for item in OSDE">

                    </select>
                </div>

                <div class="empresa">

                    <label class="blanco">Empresa:</label>
                    <input type="text" class=" color" data-ng-model="general.empresa">
                </div>
                <br>


                <p>Uso general alternativas a las SAO en la actualidad</p>
                <h6 class="enunciado">Diga en qué sector usa estas sustancias químicas.</h6><br><br><br><br>
                <div class="sustancia">

                    <label class="blanco">Sustancia química:</label>
                    <select
                            data-ng-model="general.sustancia"
                            data-ng-options="item as item.nombre for item in Sustancias">
                        <option>--</option>
                    </select>

                </div>
                <div class="sectores">

                    <label class="blanco">Sectores:</label>
                   <ul>
                       <li data-ng-repeat="item in Sectores">
                           <label for="{{item.id}}">{{item.nombre}}</label><input type="checkbox" id="{{item.id}}" data-ng-model="item.value" data-ng-true-value="true"/>
                       </li>
                   </ul>
                </div>

            <!--<div data-ng-repeat="row in documents">-->
                <!--<pre>-->
                    <!--{{row| prettyJSON}}-->
                <!--</pre>-->
            <!--</div>-->

            <button data-ng-click="Add(general)">Adicionar</button>
            <button data-ng-click="Save(general)">Guardar</button>


                <!--<div class="institucion">

                    <label class="blanco">Institución:</label>
                    <input type="text" class=" color" data-ng-model="institucion">
                </div>-->


        </div>

        <h1>Records</h1>
        <table class="table table-bordered">
            <thead>
            <th>Nombre</th>
            <th>Provincia</th>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in registros">
                <td>{{item.empresa}}</td>
                <td>{{item.provincia.nombre}}</td>
            </tr>
            </tbody>
        </table>


    </div>
    <!--Para que se vea uno debajo del otro-->

    <!--<form role="form" name="actionForm" novalidate>-->
        <!--<div class="form-group">-->
            <!--<label for="name">{{'NAME'| translate}}</label>-->
            <!--<input type="text" class="form-control" ng-class="{'invalid-form-field': actionResultForm.name.$error.required }"-->
                   <!--id="name" name="name" required-->
                   <!--placeholder="{{'PLACEHOLDER_ACTION_NAME' | translate}}" data-ng-model="currentAction.name"/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="description">{{'DESCRIPTION' | translate}}</label>-->
            <!--<textarea class="form-control" ng-class="{'invalid-form-field': actionResultForm.description.$error.required }"-->
                      <!--id="description" name="description" required-->
                      <!--placeholder="{{'PLACEHOLDER_ACTION_DESCRIPTION' | translate}}"-->
                      <!--data-ng-model="currentAction.description"></textarea>-->
        <!--</div>-->
    <!--</form>-->

</div>