<div class="container">
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">

                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="header">Selección de registro</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 sidebar">
                                <span uib-dropdown="" on-toggle="toggled(open)" class="dropdown">
                                  <a href="https://angular-ui.github.io/bootstrap/" id="simple-dropdown" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                                    Click me for a dropdown, yo!
                                  </a>
                                  <ul class="dropdown-menu" uib-dropdown-menu="" aria-labelledby="simple-dropdown">
                                    <!-- ngRepeat: choice in items --><li ng-repeat="choice in items" class="ng-scope">
                                      <a href="https://angular-ui.github.io/bootstrap/" class="ng-binding">The first choice!</a>
                                    </li><!-- end ngRepeat: choice in items --><li ng-repeat="choice in items" class="ng-scope">
                                      <a href="https://angular-ui.github.io/bootstrap/" class="ng-binding">And another choice for you.</a>
                                    </li><!-- end ngRepeat: choice in items --><li ng-repeat="choice in items" class="ng-scope">
                                      <a href="https://angular-ui.github.io/bootstrap/" class="ng-binding">but wait! A third!</a>
                                    </li><!-- end ngRepeat: choice in items -->
                                  </ul>
                                </span>
                            <ul class="sidebar-menu" ng-include="treeTemplate">

                            </ul>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary" data-ng-click="Set()">Configurar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="content" >
        <div data-ng-show="table.columns.length>0">
            <h1>Record {{table.title  }}</h1>
            <table class="table table-bordered">
                <thead>
                <tr >
                    <th data-ng-repeat="col in table.columns">{{col  }}</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="record in table.records track by $index">
                    <td data-ng-repeat="col in table.columns">{{record[col] | mainString }}</td>
                    <td>
                        <!--Llamada de los eliminar y los editar-->
                        <a class="btn btn-primary" data-ng-click="OpenModal(record)"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-primary"data-ng-click="Delete(record)"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary" data-ng-click="OpenModal()">Adicionar</button>
    </section>
</div>