<div class="container">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="" class="navbar-brand"><img src="../img/logo.png"></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">

                    <li><a data-ng-click="Set()">Datos generales</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
                            <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">

                <div class="box-body">
                    <div class="row">
                        <!--<div class="col-lg-9 sidebar">-->

                                <!--&lt;!&ndash;<div tree data-ng-model="menu" data-handler="SelectModal"></div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<ul class="sidebar-menu" ng-include="treeTemplate">&ndash;&gt;-->

                            <!--&lt;!&ndash;</ul>&ndash;&gt;-->

                        <!--</div>-->
                        <div class="col-md-12">
                            <button class="btn btn-primary" data-ng-click="Set()">Configurar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="content" >
        <div data-ng-show="table.columns.length>0">
            <h4>Formulario: {{table.title  }}</h4>
            <table class="table table-bordered">
                <thead>
                <tr >
                    <th data-ng-repeat="col in table.columns">{{col  }}</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="record in table.records track by $index">
                    <td data-ng-repeat="col in table.columns">{{record[col] | mainString }}</td>
                    <td>
                        <!--Llamada de los eliminar y los editar-->
                        <a class="btn btn-primary" data-ng-click="OpenModal(record)"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-primary"data-ng-click="Delete(record)"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary" data-ng-click="OpenModal()">Adicionar</button>
    </section>
</div>