<div class="container">
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Seleccion de registro</h3>
                <div class="box-tools pull-right">
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Registro:</label>
                                <!--Implementar la funcion donde al cambiar la selecci'on cambia segun el tipo de registro-->
                                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true"
                                        data-ng-model="table.name"
                                        data-ng-change = "ShowRecord()"
                                        data-ng-options="item as item for item in records">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content" data-ng-show="table.columns.length>0">
        <h1>Record {{table.name}}</h1>
        <table class="table table-bordered">
            <thead>
            <tr >
                <th data-ng-repeat="col in table.columns">{{col}}</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="record in table.records">
                <td data-ng-repeat="col in table.columns">{{record[col]}}</td>
                <td>
                    <!--Llamada de los eliminar y los editar-->
                    <button class="btn btn-primary"><i class="glyphicon-pencil"></i></button>
                    <button class="btn btn-primary"><i class="glyphicon-trash"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</div>