<div class="box">
    <div class="box-header">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="single-button-datos" type="button" class="btn btn-menu" uib-dropdown-toggle ng-disabled="disabled">
                    Datos <span class="caret"></span>
                </button>
                <ul class="dropdown-menu " uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a  data-ng-click="Set()"><span class="margin-r-5">Datos generales</span><i class="fa fa-list"></i></a></li>
                    <li role="menuitem"><a  data-ng-click="Save()"><span class="margin-r-5">Guardar Todo</span><i class="fa fa-save"></i></a></li>
                    <li role="menuitem"><a  data-ui-sref="list"><span class="margin-r-5">Exportar a PDF</span><i class="fa fa-file-pdf-o"></i></a></li>
                    <li role="menuitem"><a  data-ng-click="LoadModal()"><span class="margin-r-5">Importar BD</span> <i class="fa fa-upload"></i></a></li>
                    <li role="menuitem"><a  data-ng-click="ExportarBase()"><span class="margin-r-5">Exportar BD</span> <i class="fa fa-download"></i></a></li>

                </ul>
            </div>
            <div class="btn-group" uib-dropdown is-open="status8.isopen">
                <button id="single-button-general" type="button" class="btn btn-menu" uib-dropdown-toggle ng-disabled="disabled" data-ng-class="{'active-menu':isActive('general')}">
                    General <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a data-ng-click="SelectModal('general1')" >Uso general de alternativas a las SAO en la actualidad</a></li>
                    <li role="menuitem"><a data-ng-click="SelectModal('general3')" >Sectores y subsectores donde se usan alternativas de ODS actualmente</a></li>
                    <li role="menuitem"><a data-ng-click="SelectModal('general2')">Resumen de su uso en todos los sectores para cada año entre 2011-2015</a></li>
                </ul>
            </div>
            <div class="btn-group" uib-dropdown is-open="status2.isopen">
                <button id="single-button-espuma" type="button" class="btn btn-menu" uib-dropdown-toggle ng-disabled="disabled" data-ng-class="{'active-menu':isActive('espuma')}">
                    Espuma <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a data-ng-click="SelectModal('espuma1')" >Demanda de SAO y agentes soplantes en el sector de espuma</a></li>
                    <li role="menuitem"><a data-ng-click="SelectModal('espuma2')" >Distribución de ODS y alternativas en subsector de espuma</a></li>
                    <li role="menuitem"><a data-ng-click="SelectModal('espuma3')" >Uso de alternativas de SAO en el sector de espumas de poliuretano y polietileno extruido</a></li>

                </ul>
            </div>
            <div class="btn-group" uib-dropdown is-open="status3.isopen">
                <button id="single-button-aire" type="button" class="btn btn-menu" uib-dropdown-toggle ng-disabled="disabled" data-ng-class="{'active-menu':isActive('aire')}">
                    Aire Acondicionado <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <!--<li role="menuitem"><a data-ng-click="SelectModal('aire1')" >Distribución de SAO y alternativas de SAO en el sector de la Refrigeración y el Aire Acondicionado</a></li>-->
                    <li role="menuitem"><a data-ng-click="SelectModal('aire2')">Fabricantes de aires acondicionados</a></li>
                    <li role="menuitem"><a data-ng-click="SelectModal('aire3')">Uso de alternativas de SAO aires acondicionados </a></li>
                </ul>
            </div>
            <div class="btn-group" uib-dropdown is-open="status4.isopen">
                <button id="single-button-refrigeracion" type="button" class="btn btn-menu" uib-dropdown-toggle ng-disabled="disabled" data-ng-class="{'active-menu':isActive('refri')}">
                    Refrigeración <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a data-ng-click="SelectModal('consumo')">Fabricante de refrigeración</a></li>
                    <li role="menuitem"><a data-ng-click="SelectModal('refri')">Uso de alternativas de SAO en refrigeración</a></li>

                </ul>
            </div>
            <div class="btn-group" uib-dropdown is-open="status5.isopen">
                <button id="single-button-consumo" type="button" class="btn btn-menu" uib-dropdown-toggle ng-disabled="disabled" data-ng-class="{'active-menu':isActive('aerosoles')}">
                    Aerosoles <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a  data-ng-click="SelectModal('aerosoles')">Uso de alternativas de SAO en el sector de aerosoles </a></li>

                </ul>
            </div>
            <div class="btn-group" uib-dropdown is-open="status6.isopen">
                <button id="single-button-importaciones" type="button" class="btn btn-menu" uib-dropdown-toggle ng-disabled="disabled" data-ng-class="{'active-menu':isActive('importaciones')}">
                    Importaciones <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a data-ng-click="SelectModal('importaciones1')" >Demanda de SAO y refrigerantes...</a></li>
                    <li role="menuitem"><a data-ng-click="SelectModal('importaciones2')">Cantidad de importaciones de alternativas de ODS</a></li>
                </ul>
            </div>
            <div class="btn-group" uib-dropdown is-open="status7.isopen">
                <button id="single-button-empresa" type="button" class="btn btn-menu" uib-dropdown-toggle ng-disabled="disabled" data-ng-class="{'active-menu':isActive('empresa')}">
                    Empresa <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a data-ng-click="SelectModal('empresa1')" >Aire Acondicionado Automotriz</a></li>
                    <li role="menuitem"><a data-ng-click="SelectModal('empresa2')">Refrigeración Móvil</a></li>
                    <li role="menuitem"><a data-ng-click="SelectModal('empresa3')">Sector de solventes</a></li>
                    <li role="menuitem"><a data-ng-click="SelectModal('empresa4')">Taller de servicios</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box-body" style="margin-top: 2em" >
        <div class="alert alert-success alert-dismissable" data-ng-show="alerts.show">
            <button type="button" class="close" ng-click="alerts.show = false;" aria-hidden="true">×</button>
            {{alerts.message}}
        </div>
        <div class="alert alert-danger alert-dismissable" data-ng-show="error.show">
            <button type="button" class="close" ng-click="error.show = false;" aria-hidden="true">×</button>
            {{error.message}}
        </div>
        <div data-ng-show="table.columns.length>0">
            <h4 >{{table.title  }}</h4>
            <table class="table table-bordered table table-striped table-hover table-responsive">
                <thead>
                <tr >
                    <th data-ng-repeat="col in table.columns">{{col  }}</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="record in table.records track by $index">
                    <td data-ng-repeat="col in table.columns">{{record[col] | mainString }}</td>
                    <td>
                        <!--Llamada de los eliminar y los editar-->
                        <a class="btn btn-edict" data-ng-click="OpenModal(record,undefined,'edit')"><i class="fa fa-edit" title="Editar"></i></a>
                        <a class="btn btn-edict"data-ng-click="Delete(record)"><i class="fa fa-trash-o" title="Eliminar"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
    <div class="box-footer" data-ng-show="table.columns.length>0">
        <button class="btn btn-primary" data-ng-click="OpenModal()">Adicionar</button>
    </div>
</div>



