<div class="jumbotron">
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Reportes</h3>
                <div class="box-tools pull-right"></div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">Lorem Ipsum</div>
                    <div class="col-md-6">Lorem Ipsum</div>
                </div>
            </div>
        </div>
    </section>
</div>