<div class="box">
    <div class="box-header">
        <div class="collapse navbar-collapse navbar-ex1-collapse" data-ng-hide="isPrinting">
    <div class="btn-group" uib-dropdown is-open="status.isopen">
        <button id="single-button-datos" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
            Tablas <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a  data-ui-sref=".general">General</a></li>
            <!--<li role="menuitem"><a  data-ui-sref=".espuma">Espuma</a></li>-->
            <li role="menuitem"><a  data-ui-sref=".aire">Fabricante Aire Acondicionado</a></li>
            <li role="menuitem"><a  data-ui-sref=".refri"> Fabricante Refrigeración</a></li>
            <li role="menuitem"><a  data-ui-sref=".aerosoles">Fabricante Aerosoles</a></li>
            <li role="menuitem"><a  data-ui-sref=".importaciones">Importaciones</a></li>
            <li role="menuitem"><a  data-ui-sref=".empresa" >Empresa</a></li>
            <li role="menuitem"><a  data-ui-sref=".saora" >Distribución de SAO y alternativas de SAO en el sector de la Refrigeración y el Aire Acondicionado</a></li>
        </ul>
    </div>

</div></div>
    <div class="box-body">
        <div data-ui-view></div>
    </div>
</div>