<div class="box" data-ng-show="user">
    <div class="box-header">  <h4 style="color: #fff">Usuarios</h4></div>
    <div class="box-body" >
            <h4 style="color: #fff">Usuarios</h4>
            <table class="table table-bordered">
                <thead>
                <tr >
                    <th>Usuario</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="user in users track by $index">
                    <td>{{user.username}}</td>
                    <td>
                        <i title="Editar" class="fa fa-edit" data-ng-click="User(user)"></i>
                        <i title="Eliminar" class="fa fa-trash-o" data-ng-click="Delete(user)"></i>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" data-ng-click="User()">Adicionar</button>
    </div>
</div>