<li class=" active treeview">
    <a href="#">
        <i class="fa fa-plus"></i>
        <span>Datos Generales</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>

        <ul class="treeview-menu">
            <li>
                <a href="#" data-ng-click="SelectModal('general1')">
                    <span>Uso general alternativas a las SAO en la actualidad</span>
                </a>
            </li>
            <li>
                <a href="#" data-ng-click="SelectModal('general2')">
                    <span>Resumen de su uso en todos los sectores para cada año entre 2011-2015</span>
                </a>

        </ul>
    </a>
</li>
<li class="active treeview">
    <a href="#">
        <i class="fa fa-plus"></i>
        <span>Fabricante Espuma</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>

        <ul class="treeview-menu">
            <li>
                <a href="#">
                    <span>Demanda de Sao y Agentes soplantes en el sector de espuma</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Distribución de ODS y Alternativas en Sub sector de Espumas</span>
                </a>

        </ul>
    </a>
</li>
