<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="Close()">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">Recolección de datos sobre el uso de alternativas de SAO en el sector de aerosoles </h4>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="alert alert-danger alert-dismissable" data-ng-show="error.show">
            <button type="button" class="close" ng-click="error.show = false;Close();" aria-hidden="true">×</button>
            {{error.message}}
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" name="actionForm" novalidate>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Aplicación:</label>
                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true"
                                data-ng-model="Tabla12R"
                                data-ng-change="ShowTabla12()"
                                data-ng-options="item as item.aplicacion.nombre for item in SAO.Tabla12"
                        >

                        </select>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Alternativas:</label>
                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true"
                                data-ng-model="record.Alternativas"
                                data-ng-options="item as item.nombre for item in Tabla12R.alternativas"
                        >

                        </select>

                    </div>
                    <div class="form-group">
                        <label >Otros (especificar):</label>
                        <input  class="form-control" type="text" placeholder="Otros" data-ng-model="record.otrosAlternativa"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="year">Año:</label>
                        <select id="year" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true"
                                data-ng-model="year"
                                data-ng-class="{'control-error':error.show}"
                                data-ng-options="item as item for item in [2011,2012,2013,2014,2015]"></select>
                        </div>

                        <div class="form-group">
                            <label >Consumo en toneladas métricas:</label>
                            <input  class="form-control" type="number" min="0" placeholder="Tons" data-ng-class="{'control-error':error.show}" data-ng-model="amount"/>
                        </div>
                        <div class="form-group">
                            <p><i  class="fa fa-plus mas"  data-ng-click="ConsumoYear(year,amount)" title="Agregar"> </i> Agregar año</p>
                            <ul class="list-group">
                                <li class="list-group-item-success" data-ng-repeat="el in record.Uso">
                                    <span class="badge">{{el.anno}} -- {{el.tons}}</span><i class="fa fa-trash-o" data-ng-click="record.Uso.splice(el,1)"></i>
                                </li>
                            </ul>

                        </div>


                </div>
            </div>

        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-ng-click="Save()">
            Agregar
        </button> <button type="button" class="btn btn-danger"  data-ng-click="Close()">
        Cerrar
    </button>
    </div>
</div>