<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="Close()">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">Recolección de datos en el uso de alternativas de SAO en Refrigeracion Movil</h4>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="alert alert-danger alert-dismissable" data-ng-show="error.show">
            <button type="button" class="close" ng-click="error.show = false;Close();" aria-hidden="true">×</button>
            {{error.message}}
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" name="actionForm" novalidate>
        <div class="box-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Aplicaciones:</label>
                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true"
                                data-ng-model="Tabla10BR"
                                data-ng-change="ShowTabla10B()"
                                data-ng-options="item as item.aplicacion.nombre for item in SAO.Tabla10B"
                        >

                        </select>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Alternativas:</label>
                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true"
                                data-ng-model="record.Alternativas"
                                data-ng-options="item as item.nombre for item in Tabla10BR.alternativas"
                        >

                        </select>

                    </div>
                    <div class="form-group">
                        <label >Otros (especificar):</label>
                        <input  class="form-control" type="text" placeholder="Otros" data-ng-model="record.otrosAlternativa"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="year">Uso por Año:</label>
                        <select id="year" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true"
                                data-ng-model="year"
                                data-ng-options="item as item for item in [2011,2012,2013,2014,2015]"></select>

                    </div>
                    <div class="form-group">
                        <label >Toneladas métricas:</label>
                        <input  class="form-control" type="number" min="0" placeholder="Tons" data-ng-model="amount"/>
                        <ul class="list-group">
                            <li class="list-group-item-success" data-ng-repeat="el in record.Uso">
                                <span class="badge">{{el.anno}} -- {{el.tons}}</span><i class="fa fa-trash-o" data-ng-click="record.Uso.splice(el,1)"></i>
                            </li>
                        </ul>
                        <i  class="fa fa-plus"  data-ng-click="ConsumoYear(year,amount)" title="Adicionar"> </i>

                    </div>

                </div>
            </div>

        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-ng-click="Save()">
            Salvar
        </button> <button type="button" class="btn btn-danger"  data-ng-click="Close()">
        Cerrar
    </button>
    </div>
</div>