<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="Close()">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">Empresa de servicios del Clima y Refrigeración</h4>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="alert alert-danger alert-dismissable" data-ng-show="error.show">
            <button type="button" class="close" ng-click="error.show = false;" aria-hidden="true">×</button>
            {{error.message}}
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" name="actionForm" novalidate>
        <div class="box-body">
            
            <div class="row">
                <div class="col-md-6">
                <div class="form-group">
                        <label>Tipo de refrigeración donde trabajan:</label>
                        <ui-select theme="bootstrap"
                                   style="width: 100%;" tabindex="-1"
                                   aria-hidden="true"
                                   id="tr"
                                   data-ng-model="record.TipoRefrigeracion">
                            <ui-select-match placeholder="Tipo de refrigeración">{{$select.selected.nombre}}</ui-select-match>
                            <ui-select-choices repeat="item in SAO.TipoRefri">
                                <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>


                    </div>
                    <div class="form-group">
                      <label>Doy servicio a:</label><br>
                      <label>- Aire Acondicionado:</label>
                      <ui-select multiple ng-model="record.aplicacionAire" theme="bootstrap"  close-on-select="false" title="AplicacionAire">
                      <ui-select-match placeholder="Aplicación">{{$item.nombre}}</ui-select-match>
                       <ui-select-choices repeat="item in aires">
                      <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>


                    <label>- Refrigeración:</label>
                      <ui-select multiple ng-model="record.aplicacionRefri" theme="bootstrap"  close-on-select="false" title="AplicacionRefri">
                      <ui-select-match placeholder="Aplicación">{{$item.nombre}}</ui-select-match>
                       <ui-select-choices repeat="item in refrigeracion">
                      <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                    </div>                    
                    
                    <div class="form-group">
                        <label>Refrigerantes consumidos en 2016:</label>
                                  <ui-select theme="bootstrap"
                                   style="width: 100%;" tabindex="-1"
                                   aria-hidden="true"
                                   id="re6"
                                   data-ng-class="{'control-error':error.show && error.tipo=='refrigConsumidos'}"
                                   on-select="OnSelect($item,$model,'cant6','re6')"
                                   data-ng-model="re6">
                            <ui-select-match placeholder="Refrigerante consumido">{{$select.selected.nombre}}</ui-select-match>
                            <ui-select-choices repeat="item  in  refrigConsumidos">
                                <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                    <input  class="form-control" type="number" min="0" placeholder="Cantidad (Ng)" data-ng-class="{'control-error':error.show && error.tipo=='refrigConsumidos'}" data-ng-model="cant6"/>
                    <ul class="list-group">
                        <li class="list-group-item-success" data-ng-repeat="el in record.refrigConsumidos track by $index">
                            <span class="badge">{{el.re6.nombre}} -- {{el.cant6}}</span><i class="fa fa-trash-o" data-ng-click="record.refrigConsumidos.splice($index,1)"></i>
                        </li>
                    </ul>
                    <p> <i  class="fa fa-plus mas"  data-ng-click="ConsumorefrigConsumidos(re6,cant6)" title="Agregar"> </i> Agregar</p>                      

                
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label >Sustancias de limpieza interna:</label>
                        <ui-select theme="bootstrap"
                                   style="width: 100%;" tabindex="-1"
                                   aria-hidden="true"
                                   id="re"
                                   data-ng-class="{'control-error':error.show && error.tipo=='Limpieza'}"
                                   on-select="OnSelect($item,$model,'cant5','re5')"
                                   data-ng-model="re5">
                            <ui-select-match placeholder="Sustancias de limpieza interna">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="item  in  ['R-141b (g)','RL-95 (litros)']">
                                <div ng-bind-html="item | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <input  class="form-control" type="number" min="0" placeholder="Cantidad (Kg)" data-ng-class="{'control-error':error.show && error.tipo=='Limpieza'}" data-ng-model="cant5"/>
                    <ul class="list-group">
                        <li class="list-group-item-success" data-ng-repeat="el in record.Limpieza track by $index">
                            <span class="badge">{{el.re5}} -- {{el.cant5}}</span><i class="fa fa-trash-o" data-ng-click="record.Limpieza.splice($index,1)"></i>
                        </li>
                    </ul>
                    <p> <i  class="fa fa-plus mas"  data-ng-click="ConsumoLimpieza(re5,cant5)" title="Agregar"> </i> Agregar</p>

                </div>

            </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">

                    <label>Cantidad de equipos de Recuperación:</label>
                    <ui-select theme="bootstrap"
                               style="width: 100%;" tabindex="-1"
                               aria-hidden="true"
                               id="re2"
                               data-ng-class="{'control-error':error.show && error.tipo=='Recuperacion'}"
                               on-select="OnSelect($item,$model,'cant2','re2')"
                               data-ng-model="re2">
                        <ui-select-match placeholder="Equipos de Recuperación">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="item  in  ['AR500','CR500','Criolla','Otras','Ninguna']">
                            <div ng-bind-html="item | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                </div>
                <div class="form-group">
                    <input  class="form-control" type="number" min="0" placeholder="Cantidad (Kg)" data-ng-class="{'control-error':error.show && error.tipo=='Recuperacion'}" data-ng-model="cant2"/>
                    <ul class="list-group">
                        <li class="list-group-item-success" data-ng-repeat="el in record.Recuperacion track by $index">
                            <span class="badge">{{el.re2}} -- {{el.cant2}}</span><i class="fa fa-trash-o" data-ng-click="record.Recuperacion.splice($index,1)"></i>
                        </li>
                    </ul>
                    <p> <i  class="fa fa-plus mas"  data-ng-click="ConsumoRecuperacion(re2,cant2)" title="Agregar"> </i> Agregar</p>


                </div>
                <div class="form-group">
                    <label>Cantidad recuperada:</label>
                    <ui-select theme="bootstrap"
                               style="width: 100%;" tabindex="-1"
                               aria-hidden="true"
                               id="re3"
                               data-ng-class="{'control-error':error.show && error.tipo=='Recuperado'}"
                               on-select="OnSelect($item,$model,'cant3','re3')"
                               data-ng-model="re3">
                        <ui-select-match placeholder="Cantidad recuperada">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="item  in  ['R134a','R22','R404A','R410A','Otros']">
                            <div ng-bind-html="item | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                </div>
                <input  class="form-control" type="number" min="0" placeholder="Cantidad (Kg)" data-ng-class="{'control-error':error.show && error.tipo=='Recuperado'}" data-ng-model="cant3"/>
                <ul class="list-group">
                    <li class="list-group-item-success" data-ng-repeat="el in record.Recuperado track by $index">
                        <span class="badge">{{el.re3}} -- {{el.cant3}}</span><i class="fa fa-trash-o" data-ng-click="record.Recuperado.splice($index,1)"></i>
                    </li>
                </ul>
                <p><i  class="fa fa-plus mas"  data-ng-click="ConsumoRecuperado(re3,cant3)" title="Agregar"> </i> Agregar</p>

            </div>



        </div>
    </form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label >Personal productivo:</label>
                <ui-select theme="bootstrap"
                           style="width: 100%;" tabindex="-1"
                           aria-hidden="true"
                           id="re4"
                           data-ng-class="{'control-error':error.show && error.tipo=='Total'}"
                           on-select="OnSelect($item,$model,'cant4','re4')"
                           data-ng-model="re4">
                    <ui-select-match placeholder="Personal productivo">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="item  in  ['Ingenieros','T\u00E9cnicos','Mec\u00E1nicos']">
                        <div ng-bind-html="item | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>

            </div>
            <p class="form-group">
                <input  class="form-control" type="number" min="0" placeholder="Cantidad"  data-ng-class="{'control-error':error.show && error.tipo=='Total'}" data-ng-model="cant4"/>
            <ul class="list-group">
                <li class="list-group-item-success" data-ng-repeat="el in record.Total track by $index">
                    <span class="badge">{{el.re4}} -- {{el.cant4}}</span><i class="fa fa-trash-o" data-ng-click="record.Total.splice($index,1)"></i>
                </li>
            </ul>
            <p> <i  class="fa fa-plus mas"  data-ng-click="ConsumoTotal(re4,cant4)" title="Agregar"> </i> Agregar</p>
            <div class="form-group">
                        <label >Han pasado el Curso Buenas Prácticas: </label>
                        <input  class="form-control" type="number" min="0" data-ng-class="{'control-error':error.show && error.tipo=='sustanciasR'}" placeholder="Cantidad" data-ng-model="record.sustanciasR"/>
                    </div>

        </div>
    </div>

</div>




</div>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-primary"  data-ng-click="Save()"> <span data-ng-if="action!='edit'">Aceptar</span>
           <span data-ng-if="action=='edit'">Aceptar</span>
    </button> <button type="button" class="btn btn-danger"  data-ng-click="Close()">
    Cerrar
</button>
</div>
</div>