<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="Close()">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">Recolección de datos sobre el uso de alternativas de SAO en el servicio de equipos de aire acondicionado</h4>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="alert alert-danger alert-dismissable" data-ng-show="error.show">
            <button type="button" class="close" ng-click="error.show = false;Close();" aria-hidden="true">×</button>
            {{error.message}}
        </div>
        <div class="alert alert-info alert-dismissable" data-ng-show="error.alt.alternativa.show">
            <button type="button" class="close" ng-click="error.alt.alternativa.show = false;" aria-hidden="true">×</button>
            {{error.alt.alternativa.message}}
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" name="actionForm" novalidate>
        <div class="box-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Aplicaciones:</label>
                        <!--<select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true"-->
                                <!--data-ng-model="Tabla11AR"-->
                                <!--data-ng-change="ShowTabla11A()"-->
                                <!--data-ng-options="item as item.aplicacion.nombre for item in SAO.Tabla11A"-->
                        <!--&gt;-->

                        <!--</select>-->
                        <ui-select theme="bootstrap"
                                   style="width: 100%;" tabindex="-1"
                                   aria-hidden="true"
                                   id="sq"
                                   on-select="ShowTabla11A($item,$model)"
                                   data-ng-model="record.Aplicaciones">
                            <ui-select-match placeholder="Aplicaciones">{{$select.selected.nombre}}</ui-select-match>
                            <ui-select-choices repeat="item  in  SAO.Tabla11A track by $index">
                                <div ng-bind-html="item.aplicacion.nombre | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>{{record.cargas}}</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Sustancias:</label>

                        <ui-select style="width: 100%;" tabindex="-1"
                                   aria-hidden="true"
                                   theme="bootstrap"
                                   on-select="record.otrosAlternativa='';"
                                   data-ng-model="record.Sustancias">
                            <ui-select-match placeholder="Sustancias">{{$select.selected.nombre}}</ui-select-match>
                            <ui-select-choices repeat="item  in Tabla11AR.alternativas track by $index">
                                <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                    <div class="form-group">
                        <label >Otros (especificar):</label>
                        <input  class="form-control" type="text" placeholder="Otros" data-ng-model="record.otrosAlternativa" data-ng-class="{'control-error':error.show && error.tipo=='alternativa'}"/>
                    </div>
                    <div class="form-group">
                        <label >Año:</label>
                        <ui-select theme="bootstrap"
                                   style="width: 100%;" tabindex="-1"
                                   aria-hidden="true"
                                   data-ng-class="{'control-error':error.show&&error.tipo=='year'}"
                                   id="year"
                                   data-ng-model="record.year">
                            <ui-select-match placeholder="Año">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="item in [2010,2011,2012,2013,2014,2015,2016]">
                                <div ng-bind-html="item | highlight: $select.search"></div>
                            </ui-select-choices>
                    </div>
                    <div class="form-group">
                        <label >No. de unidades:</label>
                        <input  class="form-control" type="number" min="0" placeholder="Unidades" data-ng-model="record.unidades" data-ng-class="{'control-error':error.show && error.tipo=='unidades'}"/>
                    </div>
                    <div class="form-group">
                        <label >Carga (Kg):</label>
                        <input  class="form-control" type="number" min="0" placeholder="Kg" data-ng-model="record.experiencias" data-ng-class="{'control-error':error.show && error.tipo=='experiencias'}"/>
                    </div>
                    <div class="form-group">
                        <label >Estado técnico:</label>
                        <ui-select theme="bootstrap"
                                   style="width: 100%;" tabindex="-1"
                                   aria-hidden="true"
                                   id="et"
                                   data-ng-model="record.Estado">
                            <ui-select-match placeholder="Estado técnico">{{$select.selected.nombre}}</ui-select-match>
                            <ui-select-choices repeat="item in SAO.Estado">
                                <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <!--<input  class="form-control" type="number" min="0" placeholder="Años" data-ng-model="record.explotacion"/>-->
                        <!--<select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true"-->
                                <!--data-ng-model="record.Estado"-->
                                <!--data-ng-options="item as item.nombre for item in SAO.Estado"-->
                                <!--&gt;-->

                        <!--</select>-->
                    </div>

                    <div class="form-group">
                        <label>Clasificaciones:</label>
                        <ui-select theme="bootstrap"
                                   style="width: 100%;" tabindex="-1"
                                   aria-hidden="true"
                                   id="cl"
                                   data-ng-model="record.clasificacion">
                            <ui-select-match placeholder="Clasificaciones">{{$select.selected.nombre}}</ui-select-match>
                            <ui-select-choices repeat="item in SAO.Clasificacion">
                                <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <!--<select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true"-->
                                <!--data-ng-model="record.clasificacion"-->
                                <!--data-ng-options="item as item.nombre for item in SAO.Clasificacion"-->
                        <!--&gt;-->

                        <!--</select>-->

                    </div>

                </div>
            </div>
            <!--<div class="row">-->
                <!--<div class="col-md-6">-->
                    <!--<div class="form-group">-->
                        <!--<label for="year">Consumo anual por mantenimiento:</label>-->
                        <!--<ui-select theme="bootstrap"-->
                                   <!--style="width: 100%;" tabindex="-1"-->
                                   <!--aria-hidden="true"-->
                                   <!--data-ng-class="{'control-error':error.show&&error.tipo=='year'}"-->
                                   <!--id="year"-->
                                   <!--data-ng-model="record.year">-->
                            <!--<ui-select-match placeholder="Año">{{$select.selected}}</ui-select-match>-->
                            <!--<ui-select-choices repeat="item in [2010,2011,2012,2013,2014,2015,2016]">-->
                                <!--<div ng-bind-html="item | highlight: $select.search"></div>-->
                            <!--</ui-select-choices>-->
                        <!--<ui-select theme="bootstrap"-->
                                   <!--style="width: 100%;" tabindex="-1"-->
                                   <!--aria-hidden="true"-->
                                   <!--id=""-->
                                   <!--data-ng-class="{'control-error':error.show && error.tipo=='anno'}"-->
                                   <!--on-select="OnSelect($item,$model)"-->
                                   <!--data-ng-model="year">-->
                            <!--<ui-select-match placeholder="Año">{{$select.selected}}</ui-select-match>-->
                            <!--<ui-select-choices repeat="item  in  [2010,2011,2012,2013,2014,2015,2016]">-->
                                <!--<div ng-bind-html="item | highlight: $select.search"></div>-->
                            <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                        <!--<select id="year" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true"-->
                                <!--data-ng-model="year"-->
                                <!--data-ng-change="amount=0"-->
                                <!--data-ng-class="{'control-error':error.show}"-->
                                <!--data-ng-options="item as item for item in [2010,2011,2012,2013,2014,2015]"></select>-->
                        <!--</div>-->
                    <!--<div class="form-group">-->

                        <!--<label >Toneladas métricas:</label>-->
                        <!--&lt;!&ndash;Aqui te fijas como se utiliza el ng/class para el caso de los errores&ndash;&gt;-->
                        <!--<input  class="form-control"-->
                                <!--data-ng-class="{'control-error':error.show && error.tipo=='anno'}"-->
                                <!--type="number"-->
                                <!--min="0"-->
                                <!--placeholder="Tons"-->
                                <!--data-ng-model="amount"/>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<p><i  class="fa fa-plus mas"  data-ng-click="ConsumoYear(year,amount)" title="Agregar"> </i> Agregar año</p>-->
                        <!--<ul class="list-group">-->
                            <!--<li class="list-group-item-success" data-ng-repeat="el in record.Uso track by $index">-->
                                <!--<span class="badge">{{el.anno}} &#45;&#45; {{el.tons}}</span><i class="fa fa-trash-o" data-ng-click="record.Uso.splice($index,1)"></i>-->
                            <!--</li>-->
                        <!--</ul>-->

                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
            </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-ng-click="Save()"> <span data-ng-if="action!='edit'">Agregar</span>
               <span data-ng-if="action=='edit'">Aceptar</span>
        </button> <button type="button" class="btn btn-danger"  data-ng-click="Close()">
        Cerrar
    </button>
    </div>
</div>