<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="Close()">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">Uso general de alternativas de SAO en la actualidad</h4>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="alert alert-danger alert-dismissable" data-ng-show="error.show">
            <button type="button" class="close" ng-click="error.show = false;Close();" aria-hidden="true">×</button>
            {{error.message}}
        </div>
    </div>
        <h5>Sustancia Química:</h5>
        <ui-select theme="bootstrap"
                    style="width: 100%;" tabindex="-1"
                    aria-hidden="true"
                    id="sq"
                    data-ng-model="record.sustancia">
                <ui-select-match placeholder="Sustancia Química:">{{$select.selected.nombre}}</ui-select-match>
                <ui-select-choices repeat="item  in SAO.Sustancias">
                    <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>

            <h5>Sectores</h5>
            <ui-select multiple ng-model="record.sectores" theme="bootstrap"  close-on-select="false" title="Sectores">
                <ui-select-match placeholder="Sectores">{{$item.nombre}}</ui-select-match>
                <ui-select-choices repeat="item in SAO.Sectores">
                    <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-ng-click="Save()"> <span data-ng-if="action!='edit'">Agregar</span>
               <span data-ng-if="action=='edit'">Agregar</span>
        </button> <button type="button" class="btn btn-danger"  data-ng-click="Close()">
        Cerrar
    </button>
    </div>
</div>