<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="Close()">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">Resumen de su uso en todos los sectores para cada año entre 2011-2015 </h4>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="alert alert-danger alert-dismissable" data-ng-show="error.show">
            <button type="button" class="close" ng-click="error.show = false;Close();" aria-hidden="true">×</button>
            {{error.message}}
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" name="actionForm" novalidate>
        <div class="box-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h5>Alternativa:</h5>
                        <ui-select style="width: 100%;" tabindex="-1"
                                   aria-hidden="true"
                                   theme="bootstrap"
                                   data-ng-model="record.Alternativa"
                                   on-select="ShowTabla22($item,$model)">
                            <ui-select-match placeholder="Subsector:">{{$select.selected.nombre}}</ui-select-match>
                            <ui-select-choices repeat="item  in SAO.Tabla22 track by $index">
                                <div ng-bind-html="item.aplicacion.nombre | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                       </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Clasificación:</label>
                        <h5>Clasificación</h5>
                        <ui-select style="width: 100%;" tabindex="-1"
                                   aria-hidden="true"
                                   theme="bootstrap"
                                   data-ng-model="record.Tipo"
                                   on-select="record.otrosAlternativa='';">
                            <ui-select-match placeholder="Clasificación:">{{$select.selected.nombre}}</ui-select-match>
                            <ui-select-choices repeat="item  in Tabla22R.alternativas track by $index">
                                <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                    <div class="form-group" >
                        <label >Otros (especificar):</label>
                        <input  class="form-control" type="text" placeholder="Otros" data-ng-model="record.otrosAlternativa">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                        <div class="form-group">
                            <h5>Refrigeracion y Aire Acondicionado:</h5>
                            <ui-select style="width: 100%;" tabindex="-1"
                                       aria-hidden="true"
                                       theme="bootstrap"
                                       data-ng-model="record.ra"
                                       on-select="record.otrosAlternativa='';">
                                <ui-select-match placeholder="Clasificación:">{{$select.selected.nombre}}</ui-select-match>
                                <ui-select-choices repeat="item  in SAO.RA track by $index">
                                    <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Sector:</h5>
                        <ui-select style="width: 100%;" tabindex="-1"
                                   aria-hidden="true"
                                   theme="bootstrap"
                                   data-ng-model="record.Sector"  >
                            <ui-select-match placeholder="Sector:">{{$select.selected.nombre}}</ui-select-match>
                            <ui-select-choices repeat="item  in Tabla22R.uso2 track by $index">
                                <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-ng-click="Save()"> <span data-ng-if="action!='edit'">Agregar</span>
               <span data-ng-if="action=='edit'">Agregar</span>
        </button> <button type="button" class="btn btn-danger"  data-ng-click="Close()">
        Cerrar
    </button>
    </div>
</div>