<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="Close()">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">Equipo de Clima y Refrigeración que presenta mi inventario</h4>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="alert alert-danger alert-dismissable" data-ng-show="error.show">
            <button type="button" class="close" ng-click="error.show = false;Close();" aria-hidden="true">×</button>
            {{error.message}}
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" name="actionForm" novalidate>
        <div class="box-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Aire Acondicionado:</label>
                        <ui-select theme="bootstrap"
                                   style="width: 100%;" tabindex="-1"
                                   aria-hidden="true"

                                   data-ng-model="record.aplicacionAire">
                            <ui-select-match placeholder="Aplicación">{{$select.selected.nombre}}</ui-select-match>
                            <ui-select-choices repeat="item in aires">
                                <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                       </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label >Capacidad:</label>
                        <input  class="form-control" type="number" min="0"  placeholder="Capacidad (tr)" data-ng-model="record.capacidad" data-ng-class="{'control-error':error.show && error.tipo=='capacidad'}"/>

                    </div>
                    <div class="form-group" >
                        <label >No. de inventario:</label>
                        <input  class="form-control" type="number" min="0"  placeholder="Número" data-ng-model="record.inventario" data-ng-class="{'control-error':error.show && error.tipo=='inventario'}"/>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label >Estado técnico:</label>
                        <ui-select theme="bootstrap"
                                   style="width: 100%;" tabindex="-1"
                                   aria-hidden="true"
                                   id="etr"
                                   data-ng-model="record.EstadoRefri">
                            <ui-select-match placeholder="Estado técnico">{{$select.selected.nombre}}</ui-select-match>
                            <ui-select-choices repeat="item in SAO.Estado">
                                <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                    <div class="form-group">
                         <label >Años de experiencia:</label>
                        <input  class="form-control" type="number" min="0"  placeholder="experiencia" data-ng-model="record.experiencia" data-ng-class="{'control-error':error.show && error.tipo=='experiencia'}"/>
                        </div>
                    <div class="form-group">
                    <label >Poseo personal de refrigeración:</label>
                <ui-select theme="bootstrap"
                                   style="width: 100%;" tabindex="-1"
                                   aria-hidden="true"
                                   id="tr"
                                   multiple
                                   data-ng-model="record.personal">
                            <ui-select-match placeholder="Personal">{{$item.nombre}}</ui-select-match>
                            <ui-select-choices repeat="item in SAO.Personal">
                                <div ng-bind-html="item.nombre | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label >Han pasado el Curso Buenas Prácticas: </label>
                        <input  class="form-control" type="number" min="0" data-ng-class="{'control-error':error.show && error.tipo=='curso'}" placeholder="Cantidad" data-ng-model="record.curso"/>
                    </div>

                </div>
            </div>
            <div class="row">
        <div class="col-md-6">
            <label>Recibo servicios de la empresa de Clima y Refrigeración:</label><br>
            <label>Sí/No</label>
            <div class="form-group">
                <input type="checkbox" data-ng-model="record.servicio" data-ng-true-value="'Sí'" data-ng-false-value="'No'"/>
            </div>

        </div>
        <div class="col-md-6" data-ng-show="record.servicio=='Sí'">
            <label for="algo">Nombre de la Empresa</label>
            <input id="algo" type="text" data-ng-model="record.empresa" />
        </div>
    </div>

        </div>
    </form>


        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-ng-click="Save()"> <span data-ng-if="action!='edit'">Aceptar</span>
               <span data-ng-if="action=='edit'">Aceptar</span>
        </button> <button type="button" class="btn btn-danger"  data-ng-click="Close()">
        Cerrar
    </button>
    </div>
</div>