<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="Close()">
        <span aria-hidden="true">×</span></button>

    <h4 class="modal-title text-capitalize">Nomenclador : {{ntype| fancy}}</h4>

</div>
<div class="modal-body">
    <div class="row">
        <div class="alert alert-{{alert.type}} alert-dismissable" data-ng-show="alert.show">
            <button type="button" class="close" ng-click="alert.show = false;" aria-hidden="true">×</button>
            {{alert.message}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-sm-12">
                    <input id="nomenclature" data-ng-model="nomenclature.nombre" class="form-control"/>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" data-ng-click="Save(nomenclature)">
            Aceptar
        </button>
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" data-ng-click="Close()">
            Cerrar
        </button>
    </div>
</div>