<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="Close()">
        <span aria-hidden="true">×</span></button>

    <h4 class="modal-title">Importar Datos</h4>

</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="alert alert-danger alert-dismissable" data-ng-show="error.show">
            <button type="button" class="close" ng-click="error.show = false;Close();" aria-hidden="true">×</button>
            {{error.message}}
        </div>
        <div class="alert alert-success alert-dismissable" data-ng-show="operation.show">
            <button type="button" class="close" ng-click="operation.show = false;Finish()" aria-hidden="true">×</button>
            {{operation.message}}
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-6">
            <div class="form-group">
                <label>Seleccionar:</label>
                <input type="file" class="form-control text-input--underbar width-half"
                       data-ng-model="media" name="file" accept="application/json"
                       data-ngf-max-size="30MB"
                       data-ngf-keep="true" data-ngf-select id="file"/>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" data-ng-click="Close()">
            Cerrar
        </button>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" data-ng-click="LoadData(media)">
            Cargar <i class="ion-load-c" data-ng-show="isLoading"></i>
        </button>
    </div>
</div>